body {
  position: relative;
  font-size: 4vmin;
}

h2 {
  font-size: 7vmin;
  margin-top:7vmin;
}

.center {
  width:70%;
  margin: 0 auto;
}

.button {
  display: block;
  width: 40vmin;
  height: 10vmin;
  background: black;
  border-radius:20px;
  color:white;
  font-size: 4vmin;
  margin: 10vmin auto;
}

.grid {
  width:100%;
  height:10vmin;
  border:2px solid rgb(20,30,40);
  margin: 0 auto 2vmin;
}
p {
  width:100%;
  height:5vmin;
}
.pagination-item {
  display: block;
  width:100%;
  height:10vmin;
  margin-bottom: 1vmin;
}
form {
  margin: 5vmin 0;
}

/*
form {
  width:40%;
  margin:10vmin auto;
}
fieldset {
  border:none;
  margin:0;
  padding:0;
}
input, textarea {
  display: block;
  width:100%;
  margin: 4vmin 0;
  border: 2px solid black;
  font-size: 2vmin;
}

input {
  height:4vmin;
}
label {
  color:rgb(255,50,80);
}
.warning {
  border: 1px solid rgb(255,50,80);
}
.warning::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /*color: rgb(255,50,80);
}*/
